<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
    		<p>
            I have 2 years of management experience for UPS where I was in charge of upwards of 15 package handlers and over 40 drivers.
			
        </p>
		    <p>
            I have almost a year of IT security experience for Meredith in Des Moines, Iowa where my main focus was security automation.
			
        </p>
        <p>
           I currently am finishing my undergraduate work for Software Engineering at Iowa State University where I am expected to graduate in the Summer of 2019.
        </p>
		<p>
			I hope to find a career in the cybersecurity world, with my end goal of being a successful red team penetration tester.
        </p>
		<br>
		<br>

		<h2 align="center">Résumé</h2> 
		<img src="img/resume.png" alt="Luke's Résumé" style="width:816px;height:1058px;" align="middle">
      </div>
</section>
