<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
    		<p>
            I have a year of management experience for UPS where I was in charge of upwards of 15 package handlers and over 40 drivers.  I was promted to this position in under a year of working as a package handler at the same facility.
        </p>
		    <p>
            I have over a year of IT security experience for Meredith in Des Moines, Iowa where my main focus was security automation.
			
        </p>
        <p>
           I have finished my undergraduate work for Software Engineering Bachelor of Science at Iowa State University in 2019.
        </p>
		<p>
			I hope to find a career in the cybersecurity world after gaining experience in the software development process, with my end goal of being a successful red team penetration tester.  I also have a personal passion in development - specifically with database, backend, automation, and API development.
        </p>
		<br>
		<br>

		<h2 align="center">Résumé</h2> 
		<img src="img/resume.png" alt="Luke's Résumé" style="width:816px;height:1058px;" align="middle">
      </div>
</section>
